<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Prediction</title>
</head>
<body>
    <h1>Model Prediction</h1>

    <form action="/predict" method="post">

        <label for="shop_id">Shop ID:</label>
        <input type="text" name="shop_id" required><br>

        <label for="item_id">Item ID:</label>
        <input type="text" name="item_id" required><br>

        <label for="date_block_num">Block:</label>
        <input type="text" name="date_block_num" required><br>

        <label for="item_category_id">Category:</label>
        <input type="text" name="item_category_id" required><br>


        <label for="Month">Month:</label>
        <input type="text" name="Month" required><br>

        <label for="Year">Year:</label>
        <input type="text" name="Year" required><br>

        <input type="submit" value="Predict">
    </form>
    
    {% if prediction %}
    <p>Predicted Species: {{ prediction }}</p>
    {% endif %}
</body>
</html>

    
